<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="SecurityKey" value="Ritesh Agarwal"/>
    <add key="validationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="connect" connectionString="Server=R\SQLEXPRESS;Database=OnlineBank;uid=sa;pwd=akshaya" />
    <add name="OnlineBankConnectionString" connectionString="Data Source=R\SQLEXPRESS;Initial Catalog=OnlineBank;User ID=sa;Password=akshaya"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CurrencyConvertorSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CurrencyConvertorSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/currencyconvertor.asmx"
                binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
                contract="CurrencyService.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
            
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
